
<div class="main-header">
  <div class="main-room">
    <div class="chat-name"><%= @room.name %></div>
  </div>

  <div class="chat-end">
 
    <div class="end-btn">
      <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
    </div>
  </div>
</div>

<div class="main-chat">
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: "main-footer", local: true do |f| %>
  <div class="form">
    <%= f.text_field :content, class: "text", placeholder: "type a message" %>
    <label class="image">
      <span class="img">画像</span>
      <%= f.file_field :image, class: "img-file" %>
    </label>
  </div>
  <%= f.submit "送信",class: "send" %>
<% end %>

